<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Coin</title>
</head>
<body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Base Coin</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                            aria-label="Toggle navigation">
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/">Home
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/features">Block Chain Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About The Coin</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">The Blockchain</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/blockchain">Blockchain</a>
                                    <a class="dropdown-item" href="/blockchain/json">JSON</a>
                                    <a class="dropdown-item" href="#">D-apps</a>
                                    <a class="dropdown-item" href="#">Staking</a>
                                    <a class="dropdown-item" href="#">Finance</a>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary">Login</button>&nbsp;&nbsp;
                        <button type="button" class="btn btn-secondary"
                        onclick="window.location.href='/wallet';">Wallet</button>

                    </div>
                </div>
            </nav>

</body>
</html>