<!DOCTYPE html>
<html lang="en">
<!-- base.html -->
<head>
  <title>Blockchain App</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'view-blockchain' %}">View Blockchain</a></li>
      <li><a href="{% url 'create-transaction' %}">Create Transaction</a></li>
      <li><a href="{% url 'mine-block' %}">Mine Block</a></li>
      <li><a href="{% url 'view-wallet' %}?public_key={{ public_key }}">View Wallet</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
