<!-- create_transaction.html -->
{% extends 'blockchain_app/base.html' %}

{% block content %}
  <h2>Create Transaction</h2>
  <form method="post" action="{% url 'create-transaction' %}">
    {% csrf_token %}
    <div>
      <label for="sender">Sender:</label>
      <input type="text" name="sender" id="sender">
    </div>
    <div>
      <label for="recipient">Recipient:</label>
      <input type="text" name="recipient" id="recipient">
    </div>
    <div>
      <label for="amount">Amount:</label>
      <input type="text" name="amount" id="amount">
    </div>
    <button type="submit">Create Transaction</button>
  </form>
{% endblock %}
