<!-- index.html -->
{% extends 'blockchain_app/base.html' %}

{% block content %}
  <h1>Blockchain</h1>
  <div>
    <h2>Chain Details:</h2>
    <pre>{{ chain_details }}</pre>
  </div>
  <div>
    <hr>
    <h2>Wallet Address</h2>

    {% if public_key %}
    <p>Your wallet address: {{ public_key }}</p>
    {% endif %}

  </div>

  <div>
    <a href="{% url 'create-transaction' %}">Create Transaction</a>
    <form action="{% url 'mine-block' %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <button type="submit">Mine</button>
    </form>
  </div>
{% endblock %}
