<nav class="navbar navbar-expand-lg">
    <div class="wide my_burger">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <i class="nav-link fas fa-bars" href="/" style="font-size: 200%;" onclick="openNav()"><a class="my_prod_title"></a>
                </i>
        </li>
    </ul>


      <ul class="navbar-nav" style="float: right; width: 100%;">
          <li class="nav-item dropdown active" >
        <!--<a class="nav-link" href="/shop">Shop</a>-->
        </li>

        </ul>
  </div>
    <div id="mySidebar" class="sidebar" style="height: 100%; top: 75px">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="my_title" style="color: black" href="/">Home</a>
        <a class="my_title" style="color: black" href="/shop">Shop</a>
</div>
</nav>

