{% extends 'base.html' %}
{% include 'homepage/home_footer.html' %}
{% load static %}
{% block metadescription %}
    Home Page
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}


    <br>
    <h1 class="my_Lead_title" style="text-align: center">known addresses</h1>
    <div class="container" style="border: black; padding: 10px;">
        <br>
        <h2 class="my_Lead_title" style="text-align: center">recent transactions: {{ wallet }}</h2>
        <br>

        <br>



    </div>

    <hr>
    <br>
    <br>
    <p>

    </p>



{% endblock %}