{% extends 'base.html' %}
{% include 'homepage/home_footer.html' %}
{% load static %}
{% block metadescription %}
    Home Page
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}


    <br>
    <h1 class="my_Lead_title" style="text-align: center">Wallet</h1>
    <hr>
    <br>
    <p>
    <h2 class="my_Lead_title" style="text-align: center">Wallet Address: {{ wallet_address }}</h2>
    <h2 class="my_Lead_title" style="text-align: center">Wallet Balance: {{ wallet_balance }}</h2>
    <br>

    </p>



{% endblock %}